* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1 {
    text-align: center;
}

.video-container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills {
    background-color: orange;
    height: 10vh;
    padding: 1rem;
}

.background {
    width: 20vw;
    height: 2.5vh;
    background-color: beige;
    border-radius: 25px;
    position: relative;
}

.skill {
    position: absolute;
    top: 0;
    /* left: 0; */
    width: 50%;
    height: 2.5vh;
    background-color: red;
    border-radius: 25px;
}
