* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f3f3f3;
}

.container {
    border: 5px solid red;
}

.box {
    padding: 30px 0;
    text-align: center;
    font-size: 35px;
    color: #f3f3f3;
    border: 1px solid red;
    /* width: 10%; */
    flex: 0 0 25%;
}

.box-1 {
    background: #581f18;
}
.box-2 {
    background: #f0a202;
}
.box-3 {
    background: #d95d39;
}
.box-4 {
    background: #202c59;
}
.box-5 {
    background: #51cb20;
}
.box-6 {
    background: #58184f;
}
