/* GENERAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

:root {
    /* 2. Colors */
    --gold: #c59d5f;
    /* Tints */
    --tint-1: #e0deff;
    --tint-2: #a29dff;
    --tint-3: #837dff;
    --primary: #645cff;
    --dark-1: #504acc;
    --dark-2: #3c3799;
    --dark-3: #141233;
    /* Grays */
    --gray-lightest: #fafafa;
    --gray-light: #cccccc;
    --gray: #475569;
    /* White */
    --white: #fff;
    --fixed-width: 600px;
    --spacing: 1px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --transition: 0.3s all linear;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--gray);
    background-color: var(--gray-lightest);
    line-height: 1.75;
}

img {
    width: 100%;
    display: inline-block;
}

.container {
    max-width: 1170px;
    width: 70vw;
    margin: 5rem auto;
}

a {
    text-decoration: none;
    letter-spacing: var(--spacing);
    color: var(--gray);
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--gold);
}

/* Page Styles */
.section-center {
    display: grid;
    height: 100vh;
    width: 600px;
    max-width: 1170px;
    margin: 0 auto;
    place-items: center;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--gold);
    margin-bottom: 2rem;
}

.question-container {
    width: 600px;
    background-color: var(--white);
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: var(--shadow);
    border-radius: 5px;
    overflow: auto;
}

.question {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.question-title,
.answer {
    padding: 1rem 0;
}

.answer {
    border-top: 1px solid var(--gray-light);
    display: none;
}

.show-answer {
    display: block;
}

.btn-open {
    position: absolute;
    top: 16px;
    right: 0;
    z-index: 2;
    transition: var(--transition);
}

.btn-open:hover,
.btn-close:hover {
    transform: rotateZ(90deg);
}

.btn-close {
    display: none;
}
