* {
    margin: 0;
}

body {
    /* color: #f1f5f9; */
    background-color: #ecf4ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    /* font-weight: bold; */
}

.card {
    max-width: 350px;
    height: 250px;
    background: #fff;
    margin: 2.5rem auto;
    border-radius: 10px;
    text-align: center;
}

.card-1 {
    border: 1px #ff69a6 solid;
}

.card-2 {
    border: 1px solid #68a3ff;
}

.title {
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text {
    color: gray;
}

.title,
.text {
    margin: 1rem 0 1rem 0;
}

.icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 1rem auto;
}

.card-1 .icon {
    background-color: #ff69a6;
}

.card-2 .icon {
    background-color: #68a3ff;
}

.btn {
    width: 5rem;
    padding: 0.5rem;
    border: transparent;
    border-radius: 5px;
}

.btn-blue {
    background-color: #ecf4ff;
    color: #68a3ff;
}

.btn-pink {
    background-color: #ffe8f1;
    color: #ff69a6;
}
