* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
    background-color: rgb(16, 16, 16);
    color: white;
    height: 5rem;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
    padding-left: 2rem;
}

.nav-title {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
}

.hero {
    background-color: rgb(105, 62, 27);
    background-image: none;

    height: calc(100vh - 5rem);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.hero-center {
    padding: 3rem 2rem;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-center h1 {
    text-transform: capitalize;
}

.hero-center p {
    max-width: 80vw;
}

.hero-btn {
    border: 1px solid white;
    border-radius: 2px;
    padding: 0.8rem;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    letter-spacing: 2px;
}

.temp {
    min-height: 100vh;
    background-color: red;
}

/***********************
* Media query
************************/

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
                to bottom,
                rgba(96, 30, 16, 0.5),
                rgba(105, 62, 27, 0.8)
            ),
            url("../img/coffee.jpg");
    }

    .hero-center {
        text-align: center;
    }
}

/***********************
* Animations
************************/

.hero-center h1,
.hero-center p {
    animation: movedown 2s linear;
}

.hero-btn {
    animation: moveup 2s linear;
}

@keyframes movedown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes moveup {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
